a{
     text-decoration: none;
     color: black;
}
header{
     display: flex;
     align-items: center;
     justify-content: space-around;
     border: dotted;
     border-radius: 20px;
}
.form{
     display: flex;
     flex-direction: column;
}
.button{
     margin: 2%;
}
.chapitre{
     border: solid black;
     border-radius: 20px;
     margin-bottom: 5%;
}
ul{
    list-style: none;
}
.vocations{
     border: solid black;
     border-radius: 20px;
     margin: 0 2% 2% 2%; 
     padding-left: 2%;
}
h2{
     margin:2%;
     text-decoration:underline ;
}
.p{
     margin-left: 2%;
}
.footer{
     width: 100%;
}
.site{
     display: flex;
     border: solid black; 
     border-radius: 20px; 
     justify-content: space-around;
     align-items: center;
     margin:0 2% 2% 2%;        
}
.sites{
               display: flex;
               flex-direction: column;
               align-items: center;
               border: solid black;
               border-radius: 20px;
               margin: 0 2% 0 2%;
}
.class{
     display: flex;
     flex-direction: column;
     border-radius: 20px;
     border: solid;
     margin: 2%;
     padding: 2%;
     width: 90%;
}
.ensemblenom{
     display: flex;
     flex-direction: column;
     border: dotted;
     border-radius: 20px;
     margin: 2%;
     padding: 2%;
}
.bossinstance{
     display: flex;
     flex-direction: column;
     border: dotted;
     border-radius: 20px;
     margin: 2%;
     padding: 2%;
}
.menue{
     display: flex;
     flex-direction: column;
     width: 100%;
}
.lien{
     display: flex;
     flex-direction: row;
     width: 90%;
     
}
.liens{
     display: flex;
     margin-left: 1%;
     width: 20%;
     font-weight: bold ;
     border: dotted red;
     border-radius:  20px;

}